<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="CaseSimple makes cases for the Jamboxes, bluetooth speakers, and other bike mounts.">
        <meta name="author" content="Andy Brudtkuhl">

        <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootswatch -->
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Custom styles for this template -->
        <link href="css/carousel.css" rel="stylesheet">
    </head>
    <body>
      <div class="navbar-wrapper">
        <div class="container">

          <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site.name }}</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#mini-jambox-case" title="MINI Jambox Case">MINI Jambox Case</a></li>
                      <li><a href="#big-jambo-case" title="BIG Jambox Case">BIG Jambox Case</li>
                      <li><a href="#jambox-case" title="Jambox Case">Jambox Case</a></li>
                      <li class="divider"></li>
                      <li><a href="#ulock-holster" title="U-Lock Holster">U-Lock Holsger</a></li>
                      <li><a href="#logitech-ue-case">Logitech UE Case</a></li>
                    </ul>
                  </li>
                  <li><a href="http://blog.casesimple.com">Blog</a></li>
                  <li><a id="contact" href="#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <!-- FOOTER -->
      <div class="container">
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2014 CaseSimple, LLC. &middot; <a href="https://twitter.com/casesmpl" target="_blank">Twitter</a> &middot; <a href="https://www.facebook.com/casesmpl" target="_blank">Facebook</a> &middot; <a href="http://instagram.com/casesimple" target="_blank">Instagram</a> &middot; <a href="https://plus.google.com/+Casesimple/" target="_blank">Google+</a></p>
        </footer>
      </div>
      <!-- Bootstrap core JavaScript ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40005460-1', 'casesimple.com');
        ga('send', 'pageview');

      </script>

      <div id="contact-modal" class="modal fade" style="color: #fff;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Contact CaseSimple</h4>
            </div>
            <div class="modal-body">
              <div id="wufoo-zpz9ek71jcei8r">
                <!-- WUFOO FORM -->
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <script type="text/javascript">var zpz9ek71jcei8r;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'casesimple', 
        'formHash':'zpz9ek71jcei8r', 
        'autoResize':false,
        'height':'400',
        'async':true,
        'host':'wufoo.com',
        'header':'hide', 
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { zpz9ek71jcei8r = new WufooForm();zpz9ek71jcei8r.initialize(options);zpz9ek71jcei8r.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
  </body>
</html>
